/*
* @Author: dell
* @Date:   2017-09-06 16:42:52
* @Last Modified by:   dell
* @Last Modified time: 2017-09-06 17:29:33
*/
.nav{
    background: #eee;
    height: 30px;
    line-height: 30px;
}
/* 用户部分 */
.nav .user{
    float: left;
}
.nav .user.login{
    display: none;
}
.nav .usesr .link{
    margin-right: 5px;
}
/* 导航链接部分 */
.nav .nav-list{
    float: right;
}

.nav .nav-list .nav-item{
    display: inline-block;
    margin-left: 5px;
}