/*
* @Author: dell
* @Date:   2017-09-06 17:37:03
* @Last Modified by:   dell
* @Last Modified time: 2017-09-06 17:39:36
*/
.footer{
    padding-bottom: 10px;
}
.footer .links{
    text-align: center;
    color: #666;
    line-height: 30px;
}
.footer .links .link{
    padding: 0 10px;
}
.footer .copyright{
    text-align: center;
    color: #666;
    line-height: 30px;
}