/*
* @Author: dell
* @Date:   2017-09-11 20:20:27
* @Last Modified by:   dell
* @Last Modified time: 2017-09-12 08:52:53
*/
.form-line{
    margin-bottom: 10px; 
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.form-line .label{
    display: inline-block;
    width: 80px;
    text-align: center;
}
.form-line .input{
    margin-bottom: 10px; 
    height: 25px;
    width: 200px;
    line-height: 25px;
    font-size: 14px;
}