<div class="footer">
    <div class="w">
        <div class="links">
            <a class="link" href="http://www.yuchu.ac.cn" target="_blank">
                yuchu.ac.cn
            </a> | 
            <a class="link" href="https://www.taobao.com" target="_blank">
                淘宝
            </a> | 
            <a class="link" href="https://www.jd.com" target="_blank">
                京东
            </a> | 
            <a class="link" href="https://www.zhihu.com" target="_blank">
                知乎
            </a>
            <p class="copyright">
                Copyright©2017  yuchu.ac.cn All Right Reserved
            </p>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
