/*
* @Author: dell
* @Date:   2017-09-23 12:56:46
* @Last Modified by:   dell
* @Last Modified time: 2017-09-23 13:52:09
*/
/* 订单信息 */
.order-info .text-line{
    height: 30px;
    line-height: 30px;
}
.order-info .text-line .text{
    margin-right: 30px;
}
.order-info .btn{
    width: 80px;
    padding: 0;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    margin-right: 10px;
}

/* 商品清单 */
.product-table {
    width: 100%;
    border-collapse: collapse; 
}
.product-table th{
    background: #eee;
}
.product-table .cell{
    border-bottom: 1px dashed #eee;
    background: #fafafa;
}
.product-table .cell-img{
    padding: 10px;
    width: 10%;
    text-align: center;
}
.product-table .cell-img .p-img{
    width: 80px;
    height: 80px;
    border: 1px solid #ddd;
}
.product-table .cell-info{
    width: 45%;
    text-align: left;
}
.product-table .cell-price{
    width: 15%;
    text-align: center;
}
.product-table .cell-count{
    width: 15%;
    text-align: center;
}
.product-table .cell-total{
    width: 15%;
    text-align: center;
}
/*总价*/
.total{
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    margin-right: 20px;
    text-align: right;
}
.total .total-price{
    font-weight: bold;
    color: #c60023;
}